<title>{{ heading_title }}</title>
<style type="text/css">
 .thermal {
   width: {{ paper_size }};
   font-weight: {{ font_weight }};
 }
 td {
   font-weight: {{ font_weight }};
 }
 {% if paper_size == '595px' %}
  .thermal {
    max-width: 630px;
  }
  span,td {
    font-size: 14px;
  }
  .button{
    margin-left:240px;
  }
 {% endif %}
 {% if paper_size == '58mm' %}
  span,td {
    font-size: 11px;
  }
  .button{
    margin-left:30px;
  }
 {% endif %}

 {% if paper_size == '80mm' %}
  span,td {
    font-size: 13px;
  }
  .button{
    margin-left:80px;
  }
 {% endif %}

 .btn-primary {
    color: #fff;
    background-color: #1e91cf;
    border-color: #197bb0;
 }
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 13px;
    font-size: 13px;
    line-height: 1.42857;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

</style>
{% if outletinfo %}
<div id="printBill" style="color:#000 !important;">
    <div class="container thermal" style="text-align: center; max-width: 630px; font-weight:400">
      <div class="thermal" style="margin: 0 auto;">
        {% if show_store_logo %}
        <img src="{{ store_logo }}" title="{{ store_name }}" alt="{{ store_name }}" class="img-responsive" width="200" style="margin: 0 auto;"><br>
        {% endif %}
        {% if show_header %}
          <span>{{ text_header }}</span>
        {% endif %}
        {% if show_store_name %}
        <span>{{ store_name }}</span><br>
        {% endif %}
        {% if show_store_address %}
        <span>{{ store_address }}</span><br>
        {% endif %}
        {% if store_detail %}
        <span>{{ store_detail }}</span><br>
        {% endif %}
        {% if show_order_date %}
        <span>{{ text_date }}:</span> <span>{{ cur_date }}</span>
        {% endif %}
        {% if show_order_time %}
        <span>{{ text_time }}:</span> <span>{{ cur_time }}</span><br>
        {% endif %}
        {% if show_order_id %}
        <span>{{ text_order_id }}</span> #<span class="oid">10</span>
        {% endif %}
        {% if show_cashier_name %}
        <span>{{ text_cashier }}:</span> <span>Webkul</span>
        {% endif %}
        {% if show_customer_name %}
        <br />
        <span>{{ text_customer }}:</span> <span>Software</span>
        {% endif %}
      </div>
      <br>
      <div class="thermal">
        {% if show_shipping_mode %}
        <span>{{ text_shipping_mode }}: </span><span>{{ text_pickup }}</span><br>
        {% endif %}
        {% if show_payment_mode %}
        <span>{{ text_payment_mode }}: </span><span>Cash Payment</span>
        {% endif %}
      </div>
      <div class="table thermal">
        <table style="border-collapse: separate; border-spacing: 5px; margin: 0 auto; width: 95%;">
          <thead>
            <tr>
              <td style="text-align:left;">{{ column_product }}</td>
              <td>{{ column_quantity }}</td>
              <td>{{ column_price }}</td>
              <td style="text-align:right;">{{ column_amount }}</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align:left;">-----------</td>
              <td>-----------</td>
              <td>-------</td>
              <td style="text-align:right;">----------</td>
            </tr>
          </tbody>
          <tbody id="receiptProducts">
          <tr>
            <td style="text-align: left">iPod Nano</td>
            <td>1</td>
            <td>$100</td>
            <td style="text-align: right">$100 </td>
          </tr>
          <tr>
            <td style="text-align: left">iPod Classic</td>
            <td>1</td>
            <td>$100</td>
            <td style="text-align: right">$100 </td>
          </tr>
          </tbody>
          <tbody>
            <tr>
              <td colspan="4">-----------------------------------------------------{% if paper_size == '80mm' %}{{ '----------' }}{% endif %}{% if paper_size == '595px' %}{{ '-----------------------------------------------------------------' }}{% endif %}</td>
            </tr>
          </tbody>
          <tbody id="print-totals">
            <tr>
              <td >{{ text_total_qua }}</td>
              <td>2</td>
              <td >{{ text_subtotal }}</td>
              <td style="text-align:right;">$200.00</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td id="total-quantity-text"></td>
              <td id="total-quantity" style="font-weight: bold;"></td>
              <td >{{ text_grandtotal }}</td>
              <td style="text-align: right;"><b class="oTotal">$200.00</b></td>
            </tr>
          </tbody>
        </table>
        {% if show_note %}
        <div class="text-left">
          <strong>{{ text_note }}: </strong><span class="onote">Test From Webkul</span>
        </div>
        {% endif %}
        {% if show_footer %}
          <span>{{ text_footer }}</span>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="button">
    <button onclick="window.close();" class="btn btn-primary">Close</button>
    <button class="btn btn-primary" onclick="printPreview();">Print</button>
  </div>
{% else %}
  <center>
    <h1 style="color:red">{{ text_not_found }}</h1>
  <div class="button">
    <button onclick="window.close();" class="btn btn-primary">Close</button>
  </div>
  <center>
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript"><!--
  function printPreview() {
    $('.button').hide();
    document.title = "POS System - Webkul Software";
    window.print();
    $('.button').show();
  }
</script>
